body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  min-height: 100vh;
}

.container{
  min-height: 100vh;
}

.test{
  min-height: 100vh;

}

.center{
  padding-top: 40vh;
  justify-content: center;
  text-align: center;
}

.size{
  font-size: 18px;
  padding: 0px !important;
}
.inp{
  width: 300px !important;
}
.btn{
  margin-top: 30px;
}